textarea { 
  vertical-align: top;
}

/* p.gpb is used for the honey pot field of the contact form. */
/* gpb doesn't mean anything. */
p.gpb {
  display: none;
}

/* Override the XMin theme's default background for the menu */
.article-meta, .menu a {
  background: none;
}

/* Override the XMin theme's centering of several things */
.menu, .article-meta, footer { 
  text-align: left; 
}