body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: none;
  padding: 5px;
  border-radius: 5px;
}

.nav-title {
  color: white;
  font-size: 26px;
  font-style: italic;
  padding-left: 10px;
}

.byline {
  font-style: italic;
}

.date-info {
  color: #777;
  font-size: smaller;
  line-height: 1.25;
}

#prev-link {
  color: #777;
  font-size: 0.75rem;
  float:left;
}
#next-link {
  color: #777;
  font-size: 0.75rem;
  float:right;
}

.portrait {
  max-width:25%;
  min-width:40px;
  float:right;
}

figure.portrait p {
  font-size: smaller;
  margin-top: 0px;
}

figure.sheet-music-snippet {
  width: 80%;
  height: auto;
  border-style: solid;
  border-color: LightGray;
  border-width: thin;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 0em;
  background: WhiteSmoke;
}

figure.sheet-music-snippet img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-style: solid;
  border-color: Gainsboro;
  border-width: thin;
}

figure.sheet-music-snippet figurecaption {
  font-size: smaller;
}

figure.sheet-music-snippet p {
  font-size: smaller;
}

figure {
  width: 60%;
  height: auto;
  border-style: solid;
  border-color: LightGray;
  border-width: thin;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 0em;
  background: WhiteSmoke;
}

figure img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-style: solid;
  border-color: Gainsboro;
  border-width: thin;
}

figure figurecaption {
  font-size: smaller;
}

figure p {
  font-size: smaller;
}

footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* NAVBAR STYLING STARTS */
/* https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ */

img.logo {
  width: 32px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(23,92,143);
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(81,160,219);
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
/* https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ */
.item-with-dropdown {
  position: relative; 
}

.dropdown {
  background-color: rgb(23,92,143);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: rgb(81,160,219);
}

.item-with-dropdown:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */
/* https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/ */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color: rgb(23,92,143);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: rgb(81,160,219);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    /* transform: translateX(35%); */
  }

  .dropdown li:hover {
    background-color: rgb(81,160,219);
  }
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

textarea { 
  vertical-align: top;
}

/* p.gpb is used for the honey pot field of the contact form. */
/* gpb doesn't mean anything. */
p.gpb {
  display: none;
}
