{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    {{ with .Site.Params.ogImage }}
      <meta property="og:image" content="{{ if in . "http" }}{{ . }}{{ else }}{{ $baseurl }}{{ . }}{{ end }}" /> 
    {{ end }}
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" /> 
    {{ if .Params.includeMailerLiteScript }}
      <!-- MailerLite Universal -->
      <script>
	    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
	    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
	    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
	    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
	    ml('account', '454185');
      </script>
      <!-- End MailerLite Universal -->
    {{ end }}
    <!-- Favicon support, code from https://realfavicongenerator.net/favicon_result?file_id=p1h1ip0vad1h0g1g4n17d51cesum26 -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fbb041">
    <meta name="msapplication-TileColor" content="#175c8f">
    <meta name="theme-color" content="#ffffff">
    <title>{{ block "title" . }}{{ if .IsHome }}{{- .Site.Title -}}{{ else }}{{- .Title }} | {{ .Site.Title -}}{{ end }}{{ end }}</title>
  </head>
  <body>
    <nav class="navbar">
      <!-- LOGO -->
      <a href="{{ .Site.BaseURL }}"><img class="logo" 
        src="{{ .Site.Params.siteLogo | relURL }}" style="width:32px; vertical-align:middle"/>
        <span class="nav-title">{{ .Site.Title }}</span>
      </a>
      
      <ul class="nav-links">
        {{ $current := . }}
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label> 
      
        <div class="menu">     
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="item-with-dropdown">
                <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                <ul class="dropdown">
                  {{ range .Children }}
                    <li>
                      <a href="{{ .URL | absURL }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
              </li>
            {{ else }}
              <li>
                <a href="{{ .URL | absURL }}">{{ .Name }}</a>
              </li>
            {{ end }}            
          {{ end }}
        </div>
      </ul>
    </nav>
    {{ block "main" . }}
    {{ end }}
    <footer>
      <hr/>
      {{ $year_range := now.Year }}
      {{ $dash := htmlUnescape "&ndash;" }}
      {{ if gt now.Year .Site.Params.startYear }}
        {{ $year_range = print .Site.Params.startYear $dash now.Year }}
      {{ end }}
      &copy; {{ $year_range }} {{ .Site.Params.author }} | 
      <a href="{{ "post/index.xml" | relURL }}"><img src="{{ "image/rss-feed-16.svg" | relURL}}"/></a>
      {{ range .Site.Params.footerLinks }}
        | <a href="{{ .url }}">{{.name}}</a>
      {{ end }}
    </footer>    
  </body>
</html>