{{ define "main" }}
  {{ if eq .Section "post" }}
    {{ if and (.PrevPage) (eq .PrevPage.Section "post") }}
      <span id="prev-link">
        <a href="{{ .PrevPage.Permalink }}">
          &laquo; {{ .PrevPage.Title | truncate 20 "..." }}
        </a>
      </span>
    {{ end }}
    {{ if and (.NextPage) (eq .NextPage.Section "post") }}
      <span id="next-link">
        <a href="{{ .NextPage.Permalink }}">
          {{ .NextPage.Title | truncate 20 "..." }} &raquo;
        </a>
      </span>
    {{ end }}
  {{ end }}
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  {{ if eq .Section "post" }}
    <p>
      <span class="byline">{{ .Site.Params.author }}</span>
    </p>
    {{ $show_posted_date := gt .Date 0 }}
    {{ if $show_posted_date }}
      <p class="date-info">Posted on {{ .Date.Format .Site.Params.dateFormat }}</p>
    {{ end }}
  {{ else if eq .Title "Now" }}
    <p class="date-info">Updated on {{ .Lastmod.Format .Site.Params.dateFormat }}</p>
  {{ end }}

  <main>
    {{ .Content }}
  </main>
  
  {{ if eq .Section "post" }}
    <hr/>
    <section class="staticman-comments">

      {{ $slug := replace .RelPermalink "/" "" }}

      {{ if .Site.Data.comments }}
	    {{ $comments := index $.Site.Data.comments $slug }}
        {{ if $comments }}
          {{ if gt (len $comments) 1  }}
            <h3>{{ len $comments  }} comments</h3>
          {{ else }}
            <h3>{{ len $comments  }} comment</h3>
          {{ end }}
        {{ else }}
          <h3>No comments</h3>
        {{ end }}

        {{ $.Scratch.Set "hasComments" 0 }}
        {{ range $index, $comments := (index $.Site.Data.comments $slug ) }}
          {{ if not .parent }}
            {{ $.Scratch.Add "hasComments" 1 }}
            <article id="comment-{{ $.Scratch.Get "hasComments" }}" class="static-comment">
              <!-- <img class="comment-avatar" src="https://www.gravatar.com/avatar/{{ .email }}?s=48"> -->
              {{ if .website }}
                <h4 class="comment-author"><a rel="external nofollow" href="{{ .website }}">{{ .name }}</a></h4>
              {{ else }}
                <h4 class="comment-author">{{ .name }}</h4>
              {{ end }}
              <div class="comment-timestamp">
                <a href="#comment-{{ $.Scratch.Get "hasComments" }}" title="Permalink to this comment"><time datetime="{{ .date }}">{{ dateFormat (default (i18n "shortdateFormat") .Site.Params.dateformat) .date}}</time></a>
              </div>
              <div class="comment-content">
                <p>{{ .comment | markdownify }}</p>
              </div>
            </article>
          {{ end }}
        {{ end }}
      {{ end }} 

      <h3>Add a comment</h3>
      <form class="js-form form" method="post" action="{{ .Site.Params.staticman.api }}">
        <input type="hidden" name="options.slug" value="{{ replace .RelPermalink "/" "" }}">
        <input type="hidden" name="options.parent" value="">

        <fieldset>
          <div class="textfield">
            <textarea name="fields[comment]" placeholder="You can use Markdown syntax"></textarea>
          </div>
        </fieldset>

        <fieldset>
          <div class="textfield">
            <input name="fields[name]" type="text" placeholder="Your name"/>
          </div>
        </fieldset>

        <fieldset>
          <button class="button">
            Submit
          </button>
        </fieldset>
      </form>      
        
      <!--<h3>Add a comment</h3>
      <form method="post" action="/.netlify/functions/staticman?branch=main">
        <p>
          <label for="name">Name</label>
          <br>
          <input id="name" type="text" name="fields[name]" placeholder="George P. Burdell">
    	</p>

        <p>
          <label for="message">Comment</label>
          <br>
          <textarea id="message" name="fields[message]" placeholder="Here's the thing..."></textarea>
        </p>

        <input type="hidden" name="fields[post]" value="{{ .Slug }}">
        <input type="hidden" name="options[redirect]" value="/thankyou">
        <input type="hidden" name="options[redirectError]" value="/error">

        <p>
          <button type="submit">Submit</button>
        </p>
      </form>-->
        
    </section>
  {{ end }}
{{ end }}
