{{ define "main" }}
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  <p>
    <span class="byline">{{ .Site.Params.author }}</span>
  </p>
  {{ $show_posted_date := gt .Date 0 }}
  {{ if $show_posted_date }}
    <p class="date-info">Posted on {{ .Date.Format .Site.Params.dateFormat }}
  {{ end }}
  {{ if gt .Lastmod .Date }}
    <br/> Updated on {{ .Lastmod.Format .Site.Params.dateFormat }}
  {{ end }}
  {{ if $show_posted_date }}
    </p>
  {{ end }}

  <main>
    {{ .Content }}
  </main>
{{ end }}
