{{ define "main" }}
  {{ if eq .Section "post" }}
    {{ if and (.PrevPage) (eq .PrevPage.Section "post") }}
      <span id="prev-link">
        <a href="{{ .PrevPage.Permalink }}">
          &laquo; {{ .PrevPage.Title | truncate 20 "..." }}
        </a>
      </span>
    {{ end }}
    {{ if and (.NextPage) (eq .NextPage.Section "post") }}
      <span id="next-link">
        <a href="{{ .NextPage.Permalink }}">
          {{ .NextPage.Title | truncate 20 "..." }} &raquo;
        </a>
      </span>
    {{ end }}
  {{ end }}
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  {{ if eq .Section "post" }}
    <p>
      <span class="byline">{{ .Site.Params.author }}</span>
    </p>
    {{ $show_posted_date := gt .Date 0 }}
    {{ if $show_posted_date }}
      <p class="date-info">Posted on {{ .Date.Format .Site.Params.dateFormat }}
    {{ end }}
    {{ if gt .Lastmod .Date }}
      <br/> Updated on {{ .Lastmod.Format .Site.Params.dateFormat }}
    {{ end }}
    {{ if $show_posted_date }}
      </p>
    {{ end }}
  {{ else if eq .Title "Now" }}
    <p class="date-info">Updated on {{ .Lastmod.Format .Site.Params.dateFormat }}</p>
  {{ end }}

  <main>
    {{ .Content }}
  </main>
  
  {{ if eq .Section "post" }}
    <p><em>To make a comment or ask a question about this post, visit
    the <a href="https://www.facebook.com/profile.php?id=100093083866574" 
    target="_blank">Horn Journey Facebook page</a>.</em></p>
  {{ end }}
{{ end }}
